<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SYS.LOGIN // CYBER_SIM</title>
    <link rel="stylesheet" th:href="@{/css/cyberpunk.css}">
</head>
<body>
    <div class="container">
        <h1>[ SYSTEM LOGIN ]</h1>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="nombreUsuario">Target ID (Username)</label>
                <input type="text" id="nombreUsuario" name="nombreUsuario" required autocomplete="off">
            </div>
            <button type="submit" class="btn">Initialize Connection >_</button>
        </form>
    </div>
</body>
</html>