<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SYS.FETCH_RESULT // CYBER_SIM</title>
    <link rel="stylesheet" th:href="@{/css/cyberpunk.css}">
</head>
<body>
    <div class="container">
        <h1>[ FETCH_DATA_MATRIX ]</h1>
        <form th:action="@{/resultado}" method="post">
            <div class="form-group">
                <label for="token">Input Simulation Token</label>
                <input type="number" id="token" name="token" required>
            </div>
            <button type="submit" class="btn btn-magenta">DECRYPT_RESULTS</button>
            <a th:href="@{/home}" class="btn">BACK</a>
        </form>
    </div>
</body>
</html>